<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.primary.UserMapper">
  <resultMap id="BaseResultMap" type="com.example.demo.entity.primary.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="UserName" jdbcType="VARCHAR" property="username" />
    <result column="PassWord" jdbcType="VARCHAR" property="password" />
    <result column="Tel" jdbcType="VARCHAR" property="tel" />
    <result column="Email" jdbcType="VARCHAR" property="email" />
    <result column="CreateName" jdbcType="VARCHAR" property="createname" />
    <result column="CreateTime" jdbcType="TIMESTAMP" property="createtime" />
  </resultMap>

  <!-- 根据用户查询用户信息 -->
  <select id="selectUserByUserName" resultType="com.example.demo.entity.primary.User">
        select * from basic_user where UserName = #{username}
    </select>
</mapper>